# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Idea
/*

# Target
../target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
../target/*




